<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.events.uninorte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.ShowEventActivity" />
        <activity android:name=".Activities.ShowNewActivity" />

        <receiver android:name=".Receivers.NotificationReceiver"/>
    </application>
</manifest>